# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#vs 
*.sdf
*.opensdf
*.suo
*.user

# 目录
src/ipch
exe/
obj/
Debug/

# vi/vim .swp file
*.swp
